* {
    font-size: 1.8rem;
    list-style: none;
}

h2 {
    font-size: 3rem;
}

textarea {
    min-height: 3rem;

    border-radius: .5rem;
    border: none;

    padding: 1rem;

    max-width: 50rem;

    line-height: 2rem;
}

main {
    min-width: fit-content;

    display: flex;
    flex-direction: column;
    
    align-items: center;

    gap: 5rem;

    margin: 0 15rem 5rem 15rem;

    background-color: #AF00FC;

    border-radius: 10px;

    padding: 2rem;
}

.container {
    width: 100%;

    max-width: 64rem;

    display: flex;
    align-items: center;

    justify-content: center;
}

#icone-upload {
    display: block;
    width: 10rem;
    height: 10rem;

    border-radius: 50%;

    background-color: white;
}

#icone-upload img {
    width: 100%;
}

#menu-periodo {
    display: flex;

    justify-content: center;

    gap: 2rem;

    padding: 1rem;
    border-radius: .75rem;
    border: none;

    background-color: white;

    margin-left: 10rem;
}

#informacoes-participante {
    display: flex;
    flex-direction: column;

    gap: 3.5rem;
}

.campo-informacao-participante {
    display: flex;
    flex-direction: column;

    gap: .25rem;

    min-width: 32rem;
}

#nome-participante, #curso-participante {
    max-height: 12rem;

    resize: none;
    overflow: hidden;
}

#habilidades {
    display: flex;
    flex-direction: column;

    gap: 4rem;
}

#lista-habilidades {
    display: flex;
    flex-direction: column;

    gap: 2rem;

    min-width: 38rem;
}

.habilidade {
display: flex;

justify-content: space-between;
align-items: center;

    gap: 2rem;
}

.habilidade p {
    font-size: 2rem;
}

.habilidade input {
    padding: .4rem;
}

.niveis-habilidade {
    display: flex;
    gap: 2rem;

    margin-left: auto;
}

.niveis-habilidade input[type="checkbox"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;

    width: 2.5rem;
    height: 2.5rem;

    background-color: white;

    border-radius: .25rem;
    border: 1px solid black;
}

.niveis-habilidade input[type="checkbox"]:hover {
    cursor: pointer;
}

.lixeiro:hover {
    cursor: pointer;
    fill: rgb(255, 0, 0);
}

#nova-habilidade {
    justify-content: center;
    width: 100%;
}

#nova-habilidade button {
    width: 100%;
    height: 4rem;

    background-color: #AF00FC;

    border: 0.2rem dotted black;
}

#nova-habilidade button:hover {
    cursor: pointer;

    background-color: rgba(44, 35, 51, 20%);

    transition-delay: .1s;
}

#anotacoes {
    flex-direction: column;

    gap: 2rem;
}

#campo-anotacoes {
    min-width: 35rem;
    min-height: 20rem;
}

#botao-salvar {
    min-width: 35rem;
    height: 3.5rem;

    border: none;
    border-radius: 1rem;

    background-color: rgba(44, 35, 51, 67%);

    color: white;

    font-size: 2.4rem;
}

#botao-salvar:hover, #botao-salvar:active {
    cursor: pointer;

    background-color: rgba(44, 35, 51, 80%);
}
@media screen and (max-width: 750px){
    main{
      margin: 0 7.5rem 2.5rem 7.5rem;
    }
 }
 @media screen and (max-width: 500px){
     main{
       margin: 0 2.5rem 1rem 2.5rem;
     }
     #botao-salvar {
      min-width: 100%;
     }
 
     #nova-habilidade button {
         width: 80%;
     }
     
  }

 @media screen and (max-width: 375px) {
    main{
        margin: 0 1rem 0 1rem;
      }
     
    #menu-periodo{
        padding: 0.5rem;
        margin-left: 5rem;
    }
    #nome-participante, 
    #curso-participante, 
    #campo-anotacoes{
        width: 300px;
    }

    #informacoes-participante,
    #campo-anotacoes{
        min-width:300px;
    }

    #icone-upload,
    #icone-upload img {
        width: 70px;
        height: auto;
    }

 }