#labels_cadastrar {
  /* padding: 3%; */
  font-weight: 400;
  color: black;
  font-size: 18px;
}
.quadro_cadastro {
  width: 500px;
  height: 480px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 0 auto;
  padding-top: 0px;
}
.cadastro_background {
  width: 500px;
  height: 550px;
  background-color: #d9d9dd;
  border-radius: 10px;
  padding: 0%;
}
.dados_fase {
  padding: 15px;
}
#data_fase,
#quantidade_fase {
  width: 150px;
  height: 25px;
  border: none;
  border-radius: 2px;
}
#tarefa_fase,
#responsaveis_fase {
  width: 450px;
  height: 25px;
  border: none;
  border-radius: 2px;
}
#objetivo_fase {
  width: 450px;
  height: 150px;
  resize: none;
  border: none;
  border-radius: 2px;
}
#botao_cadastrar_fase {
  width: 200px;
  height: 30px;
  background-color: #b100ff;
  border-radius: 2px;
  border: none;
  margin-right: 25px;
}
#botao_cancelar_fase {
  width: 200px;
  height: 30px;
  background-color: rgb(255, 165, 0);
  border-radius: 2px;
  border: none;
}
#div_cadastrar_fase {
  padding: 3.5%;
  display: flex;
}
@media (max-width: 750px) {
  .cadastro_background {
    height: 440px;
  }
}
@media (max-width: 475px) {
  #data_fase,
  #quantidade_fase {
    width: 120px;
    height: 25px;
  }
  #tarefa_fase,
  #responsaveis_fase {
    width: 350px;
    height: 25px;
  }
  #objetivo_fase {
    width: 350px;
  }
  #botao_cancelar_fase,
  #botao_cadastrar_fase {
    width: 100px;
    height: 30px;
  }
  .cadastro_background {
    width: 370px;
    height: 440px;
    display: flex;
  }
  .quadro_cadastro {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin: 0 auto;
  }
}
