.seletor_participantes {
  margin-right: 25px;
  margin-bottom: 30px;

  width: fit-content;
}

.secao_cards_participantes {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-self: center;
}

.card_participante {
  width: 270px;
  height: 270px;
  background-color: #C351FC;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 8px;
}

.card_icones {
  display: flex;
  justify-content: space-between;
}

.card_participantes_icone {
  width: 7.5%;
}

.card_participante__foto_dados {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.card_participante_dados {
  color: #F5F5F5;
  font-size: 1.4em;
}

.card__habilidade{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  color: var(--cor-fonte);
  margin-bottom: 6px;
}
.card__habilidade input {
  margin: 0 5px 0 0;
  padding: .4rem;
}
.nome-habilidade{
  display: inline;
  margin-right: 1rem;
}
#card__observacao{
  resize: none;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 5px;
}
@media screen and (max-width: 425px) {
  .secao_cards_participantes {
    justify-content: space-around;
  }
}

@media screen and (min-width: 725px) {
  .secao_cards_participantes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
  }
}


.checkbox-container .habilidade-checkbox {
  position: relative;
  padding-left: 4px; 
  cursor: not-allowed; 
}


.checkbox-container .habilidade-checkbox:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 10px; 
  height: 10px; 
  border: 1px solid #000; 
  border-radius: 2px;
  background-color: #F5F5F5; 
}

.checkbox-container .check-vermelho:before {
  background-color: rgb(235, 50, 50); 
}
.checkbox-container .check-laranja:before {
  background-color: rgb(255, 165, 0);
}
.checkbox-container .check-amarelo:before {
  background-color: rgb(255, 255, 0); 
}
.checkbox-container .check-azul:before {
  background-color: rgb(0, 255, 255);
}
.checkbox-container .check-verde:before {
  background-color: #00ff00; 
}