@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;700&display=swap');

:root {
    --cor-fonte: #F5F5F5;

    font-size: 62.5%;
    /* 1rem = 10px */

}

* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Exo 2', sans-serif;
}

body {
    min-height: 100vh;
    min-width: 37.5rem;

    background-image: linear-gradient(#443742, #470584);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cabecalho {
    display: flex;

    justify-content: center;

    border-bottom: 1px solid #2E2333;
    height: 70px;
}

.pagina_atual {
    background-color: rgba(217, 217, 217, 0.288);
    width: 35%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 15px 15px;
}

.cabecalho__links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.cabecalho__links__item {
    text-transform: uppercase;
    font-size: 1.5rem;

    text-align: center;
}

.item_link {
    color: var(--cor-fonte)
}

.cabecalho__links img {
    width: 85%;
}

.titulo_secao {
    text-align: center;
    margin: 35px 0 65px 0;
    font-size: 4rem;
    font-weight: 400;
    color: var(--cor-fonte)
}

.secao_principal {
    display: flex;
    flex-direction: column;
    padding: 0 10%;

    width: 100%;
}

@media screen and (min-width: 725px) {
    .pagina_atual {
        display: flex;
    }
}

@media screen and (max-width: 425px){
    .cabecalho__links__item{
        text-transform: initial;
    }
}