.icons{
    display: flex;
    justify-content: center;
    padding: 30px;
}
#login-labels{
    color: var(--cor-fonte);
    font-size: 12px;
    font-weight: 10;

}
.imagem-login{
    width: 130px;
    height: 130px;
}
.titulo_secao_login{
    text-align: center;
    margin: 5px 0 25px 0;
    font-size: 3rem;
    font-weight: 400;
    color: var(--cor-fonte)
}
#usuario-login, #senha-login{
    height: 22px;
    width: 380px;
    border: none;
    border-radius: 2px;
}
#botao-login-entrar{
    height: 22px;
    width: 380px;
    background-color: #A01DDD;  
    border: none;
    color:var(--cor-fonte) ;
    border-radius: 3px;

}
#container{
width: 420px;
height: 200px;
background-color: rgba(217, 217, 217, 0.288);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-radius: 2px;
}
#botao-entrar{
padding-top: 7%;
}
#quadro-senha-usuario{
    padding-top: 5%;
}
#quadro-usuario-login{
    padding-top: 3%;
}